/*
Primary color blue #039be5
Secondary color Deep yellow #ffc400
*/

/*--------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: #000;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    margin-left: 10%;
    margin-right: 10%;
}

/* .clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
} */


/*--------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------*/

/*---------------HEADING---------------*/
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    color: #fff;
    font-size: 150%;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 700;
}

h3 {
    color: #fff;
    font-size: 130%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

img {
    width: 100%;
}
/*------ BUTTONS ------*/

.btn:link,
.btn:visited {
    display:inline-block;
    padding: 10px 30px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #FF5733;
    margin-right: 15px;
    color: #fff;
    border-radius: 15px;
}

.btn:hover,
.brn:active {
    background-color: #fff;
    color: #FF5733;
    border-color: #FF5733;
}

/*------ VIDEO ------*/

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 500px;
}

.vimeo-video {
    width: 100%;
}
/*----IMAGE------*/


p {
    color: #fff;
    margin-bottom: 30px;
}

p a:link,
p a:visited {
    color:#fff
}

/*--------------------------------------------*/
/* HEADER */
/*--------------------------------------------*/
.logo {
    margin-top: 45px;
    height: 40px;
    width: auto;
    float: left;
}

header {
    background-size: cover;
    background-position: center;
    height: 100vh /*100% of the viewport*/
}

.home-header {
    background-image: linear-gradient(rgba(253, 253, 253, 0.99), rgba(253, 253, 253, 0.7)), url(img/electronic.jpg);
}

.index {
    color: #000;
}

.main-nav {
    margin-top: 55px;
    float: right;
}

.main-nav li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nave li a:active {
    border-bottom: 2px solid;    
}

.hero-text-box {
    position:absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/*--------------------------------------------*/
/* PROJECT PAGE */
/*--------------------------------------------*/

.project-header {
    background-color: #0b0b0b;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.project-title {
    position: absolute;
    top:200px;
    left:10%;
}

.week01 {
    background-color: #000;
    margin-top: 50px;
    margin-bottom: 50px;
}

.week02{
    background-color: #201f1d;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
}

.week02 img {
    width: 100%;
}

.week03 {
    background-color: #000;
    padding-top: 50px;
    margin-top:50px;
    margin-bottom: 50px;
    color: #fff;
}

/*--------PARAGRAPH--------*/
.project-description {
    color: #fff;
}

.week-description {
    display: block;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    
}
/*------POST MATERIAL--------*/
.diagram-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 20px;
}
/*------LIST--------*/
ul li {
    color: #fff;
    line-height: 1.5;
}

.list {
    padding-left: 30px;
    padding-bottom: 30px;
}
/*--------PHOTO SHOWCASE --------*/
.proto-showcase {
    margin-top: 20px;
    list-style: none;
    width: 100%;
}

.proto-showcase li{
    display: block;
    float:left;
    width: 25%;
   /* padding-bottom: 50px; */
}

.proto-photo {
    width: 100%;
    margin: 0;
    overflow: hidden; /*container will hide overflow*/
    background-color: #000;
}

.proto-photo img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    transform: scale(1.15); /*only this would be overflow*/
    transition: transform 0.5s, opacity 0.5s;
}

.proto-photo img:hover {
    transform: scale(1.07);
    opacity: 1;
    
}

.photo-plan {
    display: block;
    height: 500px;
    margin-left: 20px;
    margin-top: 10px;
    width: auto;
}
