/*
Primary color blue #039be5
Secondary color Deep yellow #ffc400
*/

/*--------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: #000;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*--------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------*/

/*---------------HEADING---------------*/
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    color: #fff;
    font-size: 130%;
    margin-left: 8.5%;
}

/*------ BUTTONS ------*/

.btn:link,
.btn:visited {
    display:inline-block;
    padding: 10px 30px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #039be5;
    margin-right: 15px;
    color: #fff;
}

.btn:hover,
.brn:active {
    background-color: #fff;
    color: #039be5;
}

/*------ VIDEO ------*/

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 500px;
}

/*--------------------------------------------*/
/* HEADER */
/*--------------------------------------------*/
.logo {
    margin-top: 45px;
    margin-left: 50px;
    height: 40px;
    width: : auto;
    float: left;
}

header {
    background-size: cover;
    background-position: center;
    height: 100vh /*100% of the viewport*/
}

.home-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/astronaut.jpg);
}

.main-nav {
    margin-top: 55px;
    float: right;
}

.main-nav li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nave li a:active {
    border-bottom: 2px solid;    
}

.hero-text-box {
    position:absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/*--------------------------------------------*/
/* PROJECT PAGE */
/*--------------------------------------------*/

.project-header {
    background-color: #0b0b0b;
    background-size: cover;
    background-position: center;
    height: 30vh; /*100% of the viewport*/

}

.project-title {
    position: absolute;
    top:15%;
    left:10%;
}

.week01 {
    background-color: #000;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.week02{
    background-color: #201f1d;
    padding-top: 50px;
}

.week03 {
    background-color: #000;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 15px;
}

/*--------PARAGRAPH--------*/
.project-description {
    color: #fff;
}

.week-description {
    display: block;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    margin-bottom: 20px;
    
}
/*------POST MATERIAL--------*/
.diagram-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    opacity: 80%
}